.image-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.image-header-container .image-header-sub-container{
    width: 960px;
    padding-top: 92px;
    padding-bottom: 75px;
    background-color: #ffffff;
    text-align: center;
}

.image-header{
    width: 190px;
    height: auto;
    margin: auto;
}