.alg-box{
    width: 100%;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    border: 0.05em solid #000000;
}

.alg-box .head{
    background-color: rgba(144, 144, 144, 0.075);
    border-bottom: 0.05em solid #000000;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    color: rgb(77, 132, 4);
}