div.example-box-container{
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(101, 196, 209);
}

div.example-box-container div.example-title-container{
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 25px 30px 30px 30px;
    background: rgba(102,197,209,1);
    background: -moz-linear-gradient(-45deg, rgba(102,197,209,1) 0%, rgba(102,197,209,1) 95%, rgba(74,166,191,1) 95%, rgba(74,166,191,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(102,197,209,1)), color-stop(95%, rgba(102,197,209,1)), color-stop(95%, rgba(74,166,191,1)), color-stop(100%, rgba(74,166,191,1)));
    background: -webkit-linear-gradient(-45deg, rgba(102,197,209,1) 0%, rgba(102,197,209,1) 95%, rgba(74,166,191,1) 95%, rgba(74,166,191,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(102,197,209,1) 0%, rgba(102,197,209,1) 95%, rgba(74,166,191,1) 95%, rgba(74,166,191,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(102,197,209,1) 0%, rgba(102,197,209,1) 95%, rgba(74,166,191,1) 95%, rgba(74,166,191,1) 100%);
    background: linear-gradient(135deg, rgba(102,197,209,1) 0%, rgba(102,197,209,1) 95%, rgba(74,166,191,1) 95%, rgba(74,166,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c5d1', endColorstr='#4aa6bf', GradientType=1 );
}

div.example-box-container div.example-title-container div.image{
    margin-top: -5px;
}

div.example-box-container div.example-title-container div.title{
    width: 100%;
    text-align: center;
    margin-left: -40px;
}

div.example-box-container div.title div.example-title{
    margin-top: -20px;
}

div.example-box-container div.text-container{
    padding: 20px 30px 30px 30px;
    width: auto;
}

div.example-box-container div.text-container.styled-list ul {
    list-style: none;
}

div.example-box-container div.text-container.styled-list ul li::before{
    content: "•"; 
    font-size: 150%;
    color: #A8B4E2;
    display: inline-block; 
    width: 20px;
    margin-left: -20px;
}

div.example-box-container div.text-container.styled-list ul li::after{
    width: 100%;
    margin-left: 0%;
    height: 1px;
    display:flex;
    flex-direction: column;
    content: " ";
    margin-top: 5px;
    margin-bottom: 20px;
    background-image: radial-gradient(circle, #88e0eb, #78d1e0, #69c3d5, #59b4ca, #4aa6bf);
}

