div.activity-box-container{
    border: 2px solid;
    border-radius: 5px;
    border-color: #ED9070;
}

div.activity-box-container div.activity-title-container{
    display: flex;
    flex-direction: row;
    height: 45px;
    padding: 5px 30px 30px 30px;
    background: rgba(255,163,123,1);
    background: -moz-linear-gradient(-45deg, rgba(255,163,123,1) 0%, rgba(255,163,123,1) 95%, rgba(237,144,112,1) 95%, rgba(237,144,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,163,123,1)), color-stop(95%, rgba(255,163,123,1)), color-stop(95%, rgba(237,144,112,1)), color-stop(100%, rgba(237,144,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,163,123,1) 0%, rgba(255,163,123,1) 95%, rgba(237,144,112,1) 95%, rgba(237,144,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,163,123,1) 0%, rgba(255,163,123,1) 95%, rgba(237,144,112,1) 95%, rgba(237,144,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,163,123,1) 0%, rgba(255,163,123,1) 95%, rgba(237,144,112,1) 95%, rgba(237,144,112,1) 100%);
    background: linear-gradient(135deg, rgba(255,163,123,1) 0%, rgba(255,163,123,1) 95%, rgba(237,144,112,1) 95%, rgba(237,144,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa37b', endColorstr='#ed9070', GradientType=1 );
}

div.activity-box-container div.activity-title-container div.image{
    margin-top: 10px;
}

div.activity-box-container div.activity-title-container div.title{
    width: 100%;
    text-align: center;
    margin-left: -40px;
}

div.activity-box-container div.text-container{
    padding: 5px 60px 20px 60px;
    width: auto;
}