div.algorithm-box-container div.title-container{
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 25px 30px 30px 30px;
    background: #B7B7B7;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

div.algorithm-box-container div.title-container div.image{
    margin-top: -5px;
}

div.algorithm-box-container div.title-container div.title{
    width: 100%;
    text-align: center;
    margin-left: -82.5px;
}

div.algorithm-box-container div.title div.algorithm-title{
    margin-top: -20px;
}

div.algorithm-box-container div.text-container{
    padding: 20px 30px 30px 30px;
    width: auto;
    background-color: #727272;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

div.algorithm-box-container div.text-container ul{
    list-style-type: decimal;
}

div.algorithm-box-container div.text-container ul li{
    font-size: inherit;
}

div.algorithm-box-container div.text-container ul li ul{
    list-style-type: lower-latin;
}

div.algorithm-box-container div.text-container ul li ul li ul{
    list-style-type: decimal;
}

div.algorithm-box-container div.text-container ul li ul li ul li ul{
    list-style-type: lower-latin;
}



