div.text-standard-box-container{
    display: flex;
    justify-content: center;
}

div.text-standard-box{
    border: 1pt solid transparent;
    border-radius: 10px;
    width: 750px;
    border: 1px rgb(101, 196, 209) solid;
}

div.text-standard-box-text-container{
    padding: 0px 50px 20px 50px;
    text-align: justify;
}