div.context-menu-container{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: fadeInOutContextMenu;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
div.context-menu-container-hidden{
    display: none;
}
div.page-circle-container{
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.page-circle-container div.page-circle{
    border: 0.1em #13C4D6 solid;
    border-radius: 50%;
    width: 12.5px;
    height: 12.5px;
    margin-left: 10px;
    cursor: pointer;
    animation-name: fadeInOutContextMenuPageCircle;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
div.page-circle-container div.page-circle.page-circle-selected{
    background-color: #EEAD2D;
    cursor: default;
}
div.extra-content-button-container{
    width: 33%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
    text-decoration: underline;
}
div.page-info-container{
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.page-info-container div.page-info-button{
    width: 50px;
    height: 36px;
    cursor: pointer;
    animation-name: fadeInOutContextMenuPageInfoButton;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
div.page-info-text{
    display: flex;
    align-items: center;
    background-color: #13C4D6;
    color: white;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    animation-name: fadeInOutContextMenuPageInfoText;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@keyframes fadeInOutContextMenuPageInfoButton{
    100% {
        width: 80px;
        height: 36px;
    }
    80% {
        width: 90px;
        height: 30px;
    }
    60% {
        width: 100px;
        height: 25px;
    }
    40% {
        width: 110px;
        height: 20px;
    }
    20% {
        width: 120px;
        height: 15px;
    }
    0% {
        width: 130px;
        height: 10px;
    }
}

@keyframes fadeInOutContextMenuPageCircle{
    100% {
        height: 16px;
        width: 16px;
    }
    80% {
        height: 13px;
        width: 13px;
    }
    60% {
        height: 10px;
        width: 10px;
    }
    40% {
        height: 7px;
        width: 7px;
    }
    20% {
        height: 4px;
        width: 4px;
    }
    0% {
        width: 1px;
        height: 1px;
    }
}

@keyframes fadeInOutContextMenu {
    100% {
        height: 45px;
    }
    80% {
        height: 40px;
    }
    60% {
        height: 30px;
    }
    40% {
        height: 20px;
    }
    20% {
        height: 10px;
    }
    0% {
        height: 0px;
    }
}

@keyframes fadeInOutContextMenuPageInfoText {
    100% {
        height: 2.2em;
    }
    80% {
        height: 1.8em;
    }
    60% {
        height: 1.4em;
    }
    40% {
        height: 1em;
    }
    20% {
        height: 0.6em;
    }
    0% {
        height: 0.2em;
    }
}


